:root {
	--FontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--FontSize: 12pt;
	--TextColor:#222;
	--TextHoverColor: #444;

	--MenuTextColor: var(--TextColor);
	--MenuBackgroundColor: #aaa;

	--LinkButtonTextColor: var(--TextColor);
	--LinkButtonBackgroundColor: #ccc;

	--InputFieldBorderColor: #ccc;

	--ErrorTextColor: #fff;
	--ErrorBackgroundColor: #f00;
}

body {
	font-family: var(--FontFamily);
	font-size: var(--FontSize);
	color: var(--TextColor);
}

a {
	color: var(--TextColor);
	text-decoration: none;
}
a:hover {
	color : var(--TextHoverColor);
}

.Header {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

.Menu {
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--MenuTextColor);
	background-color: var(--MenuBackgroundColor);
	padding: 10px 20px;
	text-align: center;
}

.Menu a {
	padding-right: 20px;
}

.Main {
	clear: both;
}

.Hidden {
	display: none;
}

.LinkButton {
	color: var(--LinkButtonTextColor);
	background-color: var(--LinkButtonBackgroundColor);
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	line-height: 2em;
}

.StandardForm {
	width: 200px;
}

	.StandardForm .Field {
		margin-bottom: 10px;
	}

		.StandardForm .Field .Title {
			font-weight: bold;
		}

		.StandardForm .Field .InputField {
			padding: 5px 10px;
			border: 1px solid var(--InputFieldBorderColor);
			border-radius: 5px;
			width: 100%;
		}

		.StandardForm .Field .Errors {
			background-color: var(--ErrorBackgroundColor);
			color: var(--ErrorTextColor);
			border-radius: 5px;
			padding: 5px 10px;
			margin: 5px 0px;
		}

.StandardFormWide {
	max-width: 600px;
}

	.StandardFormWide .Field {
		margin-bottom: 10px;
	}

		.StandardFormWide .Field .Title {
			font-weight: bold;
		}

		.StandardFormWide .Field .InputField {
			padding: 5px 10px;
			border: 1px solid var(--InputFieldBorderColor);
			border-radius: 5px;
			width: 100%;
		}

		.StandardFormWide .Field .Errors {
			background-color: var(--ErrorBackgroundColor);
			color: var(--ErrorTextColor);
			border-radius: 5px;
		}

